.env
.env.*
!.env.example
/vendor
/node_modules
/storage/*.key
/public/storage
/storage/logs/*.log
/.idea
/.vscode
.DS_Store
Thumbs.db

*.log
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/build
/public/fonts-manifest.dev.json
/public/hot
/storage/pail
_ide_helper.php
Homestead.json
Homestead.yaml
